html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  background: #1C6BA0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.stuff {
  display: flex;
  color: white;
}

.agents {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: lightgreen;
  border-radius: 15px;
}

.agent::before {
  content: '⛏️';
  position: absolute;
  transform: translateX(-10px);
}

.row {
  display: flex;
}

.cell {
  width: 16px;
  height: 26px;
}
