html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.stuff {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;

  background: #1C6BA0;
  width: 100%;
  height: 100%;

  transition: filter 0.3s linear;
}

.agents {
  background: #f5ce76;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;

}

.agent.axe::before {
  content: '⛏️';
  position: absolute;
  transform: translateX(-10px);
}

.agent.rod::before {
  content: '🎣';
  position: absolute;
  transform: rotateY(180deg) translateX(18px);
  clip-path: polygon(0% -10%, 70% 0%, 0% 100%);
}

.agent.rod.fish::before {
  clip-path: none;
}

.agent.talking::after {
  content: '💬';
  position: absolute;
	-webkit-transform: translate(12px, -34px);
	-moz-transform: translate(-5px, -6px);
}

.row {
  background: lightgreen;
  display: flex;
}

.sand {
  background: #f5ce76;
}

.cell {
  width: 16px;
  height: 26px;
}

.well {
  color: gray;
}

.row {
  color: gray;
}

.branch {
  color: saddlebrown;
}
